extends ./partials/_default

append vars
  - var title = "Proteus &mdash; Pug"
  - var lodashtest = [1, 2, 3, 3, 1, 1]

append css
  //- page specific css file links

append scripts
  //- page specific javascript file links

block content
  .delete-me
    .container
      .fa.fa-sign-language
      h1 !{title}
      :markdown-it
        ## You're all set!
        
        ### [Let's get started building your prototype.](http://github.com/dpfranklin/proteus-node) 

        * [Coffeescript](http://coffeescript.org/) and [Markdown filters](https://markdown-it.github.io/)
        * [Font-awesome Icons](http://fontawesome.io/icons/)
        * [Bourbon/Neat Sass Mixin Library](http://bourbon.io/) 
        * [Lodash available in Jade/Pug templates.](https://lodash.com/)
      
      ul
        li
          ul
            li Test array: [ #{lodashtest} ]
            li Lodash uniq function result: #{_.uniq(lodashtest)}

      script
        :coffee-script
          console.log 'Coffeescript filter functional'




