extends ./partials/_default

append vars
  - var title = "Proteus &mdash; Jade"
  - var lodashtest = [1, 2, 3, 3, 1, 1]

append css
  //- page specific css file links

append scripts
  //- page specific javascript file links

block content
  .delete-me
    .container

      :markdown-it
        ## !{title}
        
        You're all set!
        
        [Let's get started building your prototype.](href='http://github.com/dpfranklin/proteus-node') 

        Lodash available in Jade/Pug templates.

        Test array: [ #{lodashtest} ]
      
        Lodash uniq function result:
      
      p= _.uniq(lodashtest)





