extends ./partials/_default

append vars
  - var title = "Proteus &mdash; Jade"
  - var lodashtest = [1, 2, 3, 3, 1, 1]

append css
  //- page specific css file links

append scripts
  //- page specific javascript file links

block content
  .delete-me
    .container
      h1= !{title}
      p
        | You're all set!
      p
        a(href='http://github.com/thoughtbot/proteus-node') Let's get started building your prototype.

      p Lodash available in Jade/Pug templates.

      p Test array:
      p [ #{lodashtest} ]
      
      p Lodash uniq function result:
      p= _.uniq(lodashtest)
