doctype html
html
  block vars
    - var baseurl = locals.url
    - var images = baseurl + '/' + locals.images
    - var css = baseurl + '/' + locals.css
    - var js = baseurl + '/' + locals.js
    - var _ = locals._

  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
      meta(content='width=device-width, initial-scale=1', name='viewport')
      block title
        title=  title

      block css
        link(href=`${css}/app.css`, rel='stylesheet', type='text/css')

  body

    block content

    block scripts
      script(src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(src=`${js}/app.js`)

